---
import Card from '../../components/teams/teamsIndexCard.astro'
import Layout from '../../layouts/Layout.astro';
---
<Layout title="CODE WAVE HUB | our teams">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20 sm:space-y-10 space-y-4">
            <h1  class="text-[#ABD7FF] md:md:text-7xl sm:text-5xl text-3xl sm:text-5xl text-3xl font-bold" >MEET OUR TEAM</h1>
            <p class="text-[#86c3f8a1] sm:text-2xl text-lg text-center lg:w-2/3 mx-auto leading-relaxed  " >Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
          </div>
          <div class="flex flex-wrap ">
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            
          </div>
        </div>
      </section>
	
</Layout>
<style>
    section{
        background-color: #203162;
        color: aliceblue;
    }
</style>