---
import Card from '../../components/teams/teamsIndexCard.astro'
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Our Team | CodeWave Hub">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20 sm:space-y-10 space-y-4">
            <h1  class="text-[#ABD7FF] md:md:text-7xl sm:text-5xl text-3xl font-bold" >MEET OUR TEAM</h1>
            <p class="text-[#86c3f8a1] sm:text-2xl text-lg text-center lg:w-2/3 mx-auto leading-relaxed  " >Code united, campus ignited: CodeWave Hub Team 🚀</p>
          </div>
          <div class="flex flex-wrap ">
            <Card src='/images/Vasay.png' name='Afnan Abdul Vsay' desg='Founder & President' twitter='' linkedin='' github='' pageLink='/teams/vasay'  />
            <Card src='/images/Izhaan.png' name='Izhan Ali' desg='Co founder & Executive Head' twitter='' linkedin='' github='' pageLink='/teams/izhan'  />
            <Card src='/images/Fareed.png' name='Syed Khaja Fareeduddin' desg='Head of Technology' twitter='' linkedin='' github='' pageLink='/teams/fareed'  />
            <Card src='/images/Mujahed.png' name='Mohd Mujahed' desg='Web Admin & Project Coordinator' twitter='' linkedin='' github='' pageLink='/teams/mujahed'  />
            <Card src='/images/Erum.png' name='Maria Fatima Erum' desg='Outreach Specialist' twitter='' linkedin='' github='' pageLink='/teams/erum'  />
            <Card src='/images/Asfia.png' name='Asfia Al Hera' desg='Cheif of Operations' twitter='' linkedin='' github='' pageLink='/teams/asfia'  />
            <Card src='/images/Riyan.png' name='MD Riyan Nazeer' desg='Content Creator Head' twitter='' linkedin='' github='' pageLink='/teams/riyan'  />
            <Card src='/images/Majeed.png' name='Mohd Abdul Majeed' desg='Community Manager' twitter='' linkedin='' github='' pageLink='/teams/majeed'  />
            <Card src='/images/Ali.png' name='Syed Mohammed Ali' desg='Marketing & Social Media Head' twitter='' linkedin='' github='' pageLink='/teams/ali'  />


            
          </div>
        </div>
      </section>
	
</Layout>
<style>
    section{
        background-color: #203162;
        color: aliceblue;
    }
</style>