---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Section1 from '../components/home/Section1.astro';
import What from '../components/home/What.astro';
import Learn from '../components/home/Learn.astro';
import Why from '../components/home/Why.astro';
import Vision from '../components/home/Vision.astro';
import FAQs from '../components/home/FAQs.astro'
---

<Layout title="CODE WAVE HUB">
	<div class="snap-mandatory snap-y" >
		<Section1/>
		<What/>
		<Learn/>
		<Why/>
		<Vision/>
		<FAQs/>
	</div>
	
</Layout>

<style>

</style>
