<section>
    <p>Agenda</p>

    <div>
        <ul class="list-disc" >

            <li>
                Introduction to Hacktoberfest

            </li>
            <li>
                Fundamentals of Programming

            </li>
            <li>
                Git and GitHub Essentials

            </li>
            <li>
                Web Development: Creating and Hosting Your Website

            </li>
            <li>
                Exploring Networking Concepts

            </li>
            <li>
                Hands-on Contribution to Real-World Open Source Projects


            </li>
        </ul>
    </div>
</section>

<style>
    section{
        background: #ffe6cd;
    }
</style>