<section>
    <p>CodeWave Hub: HacktoberFest 2023</p>

    <p>The CodeWave Hub HacktoberFest 2023 Edition, is being organized for 2 days to introduce students and aspiring developers to the exciting world of open-source contributions and web development. It aims to provide attendees with practical knowledge and hands-on experience in these domains. In this immersive learning experience, we will demystify the world of open source, Git & GitHub & web development, providing insights into its significance and guiding them through the process of finding and contributing to open-source projects.</p>
</section>

<style>
    section{
        background: #df9e58;
    }
</style>