<div class="homebg h-screen w-full text-white" >
<p>CodeWave Hub:</p>
<div class="mx-auto w-fit relative h-fit" >
    <img src="/hacktoberfest/hf10_horz_fcl_rgb.png" alt="" srcset="" class="w-[65vw]">
<p class="text-right text-black absolute bottom-2 right-1 " >2023 Edition</p>
</div>

<div>
    <div class="uppercase" >
        <p>Join us as we celeBRATE THE 10 AniveRSARY OF hacktoberFest </p>
            <p>October 18-19, 2023</p>
    </div>
    <div class="w-fit mx-auto" >
        <button class="bg-black rounded-3xl px-4 py-2 " >REGISTER NOW</button>
    </div>
</div>
</div>


<style>
    body{
        background: #F59C4C ;
    }
</style>