<section>
    <p>Prerequisite/Note:</p>



    <div>
        <ul class="list-disc" >

            <li>
                This is a beginner-friendly event.
            </li>
            <li>
                ​Please be on time for the event.

            </li>
            <li>
                Bring your laptop and charger for the workshop. (As we will be doing Hands-on building experience)


            </li>
            <li>
                Create a GitHub account with the link (https://github.com/)

            </li>
            <li>
                Get your Student Developer pack🎒 with this special link (https://gh.io/codewavehackto)


            </li>
            <li>
                Download Vs code (or) any other code editor paltform which supports web development. (https://code.visualstudio.com/Download)


            </li>
        </ul>
    </div>
</section>

<style>
    section{
        background: #ffe6cd;
    }
</style>