<section>
    <div class="grid grid-cols-2">
        <div>
            <p>What to Expect</p>
        </div>
        <div>
            <div>
                <p>01 Valuable Talks</p>
                <p>Learn from well-known industry experts</p>
            </div>

            <div>
                <p>02 Workshop </p>
                <p>Engage in a hands-on learning experience, where you acquire knowledge to make your First open-source contributions.</p>
            </div>

            <div>
                <p>03 Networking Channels</p>
                <p>Opportunities to chat with
                    fellow creatives</p>
            </div>
        </div>
    </div>

    <div>
        <p>Keynote Speakers</p>

        <div class="grid grid-cols-2 place-items-center">
            <div>
                <img src="/images/Vasay.png" alt="" srcset="" class="rounded-full" >
                <p>Abdul Vasay</p>
                <p>A GitHub Campus Expert, Open-Source Advocacy, Technical Content Creator, AI&ML Engineer </p>
            </div>

            <div>
                <img src="/images/Vasay.png" alt="" srcset="" class="rounded-full" >
                <p>Ashwin Uppala </p>
                <p> Bringing a fresh, unique aesthetic to the world of illustration, Chun Hei has won multiple awards, including the prestigious Croalstead
                    Crystal Quill.</p>
            </div>
        </div>
    </div>

    <div>
        <p>Keynote Speakers</p>

        <div class="grid grid-cols-3 place-items-center">
            <div>
                <img src="/images/Vasay.png" alt="" srcset="" class="rounded-full" >
                <p>Abdul Vasay</p>
                <p>A GitHub Campus Expert, Open-Source Advocacy, Technical Content Creator, AI&ML Engineer </p>
            </div>

            <div>
                <img src="/images/Vasay.png" alt="" srcset="" class="rounded-full" >
                <p>Ashwin Uppala </p>
                <p> Bringing a fresh, unique aesthetic to the world of illustration, Chun Hei has won multiple awards, including the prestigious Croalstead
                    Crystal Quill.</p>
            </div>

            <div>
                <img src="/images/Vasay.png" alt="" srcset="" class="rounded-full" >
                <p>Ashwin Uppala </p>
                <p> Bringing a fresh, unique aesthetic to the world of illustration, Chun Hei has won multiple awards, including the prestigious Croalstead
                    Crystal Quill.</p>
            </div>
        </div>
    </div>
</section>

<style>
    section{
        background: #000;
    }
</style>