<section class="px-10" >
<p>
    What is <br> HacktoberFest?
</p>

<div class="flex flex-wrap">
    <div class=" w-[420px] " >
     <img class="w-52" src="/hacktoberfest/05@2x.png" alt="" srcset="">
     <img class="ml-auto w-52 -mt-10" src="/hacktoberfest/hf10_icon_fcl_rgb.png" alt="" srcset="" >

    </div>
    <div class="w-3/4 text-2xl" >
        <p>
            Hacktoberfest is an annual event that encourages people to contribute to open source throughout October. Hacktoberfest is all about giving back to open-source projects, sharpening skills, and celebrating all things open source, especially the people that make open source so special. Thousands of people—coders and non-coders alike—have participated in hacktoberfest to support the projects they use and love, learn and practice skills that will enhance their careers, and meet new people who love open source as much as they do.
        </p>
    </div>
</div>
</section>

<style>
    section{
        background: #FFE6CD;
    }
</style>