---
import Card from './FAQsCard.astro' 
---

<div class="py-20 md:px-20 sm:px-10 px-5 text-center text-[#ABD7FF] snap-start" >
    <div class="space-y-16" >
        <p  class="md:text-7xl sm:text-5xl text-3xl font-bold " >FAQs</p>

        <div class="gap-20   md:text-4xl sm:text-2xl text-lg grid lg:grid-cols-2  text-left" >
            <div class="space-y-10" >
            <Card p1='How can I join CodeWave Hub?' p2='You can join CodeWave Hub on Discord & WhatsApp' />
            <Card p1='I am from other College can I join?' p2='Yes, CodeWave Hub is open to all students who want to learn & grow.' />
            <Card p1='Do I need to pay to attend events?' p2='No, All the content within CodeWave Hub are free of cost. We don’t charge money to any student.' />
            
        </div>
        <div class="relative" >
            <Card p1='What if I have additional questions?' p2='You can reach out for more information through our support form.' />
 
            <img src="/homeSection/5-removebg-preview (1).png" alt="" srcset="" class='lg:w-96 sm:w-72 sm1:w-52 w-40 absolute right-2 lg:-bottom-10 md:-bottom-72 -bottom-36' >

        </div>

        
        </div>
    </div>
   
</div>

<style>
    body{
        background-color: #203162;
    }
</style>