<div class="p-20 text-center snap-start" >
    <div class="space-y-10" >
        <p  class="md:text-7xl sm:text-5xl text-3xl font-bold text-[#ABD7FF]" >LEARN, SHARE AND COLLABORATE</p>

        <div class="space-y-10 text-white  text-4xl " >
            <p>CodeWave Hub is more than just a typical coding club, it's a community of passionate students who want to make a positive impact in the world through technology.
            </p>
            <p>Whether you are a beginner or an expert, you will find something for you at Codewave Hub.
            </p>
            <p>Through vast resources, a collaborative atmosphere, motivational support, and project opportunities, CodeWave Hub empowers all its members to grow and flourish in the realm of technology.</p>
        </div>
    </div>
   
</div>

<style>
    div{
        background-color: #203162;
    }
</style>