<div class="h-screen flex justify-center items-center snap-start" >
    <div class="space-y-3" >
        <h1 class="text-[#ABD7FF] text-7xl font-bold" >CodeWave Hub</h1>
        <p class="text-[#86C2F8] text-2xl text-center " >Where Innovation meets colaboration 🚀</p>
    </div>
   
</div>

<style>
    div{
        background-color: #203162;
    }
</style>