<div class=" sectio1 lg:max-h-[900px] sm:max-h-[600px] sm1:max-h-[500px] max-h-[400px] h-screen flex justify-center items-center snap-start relative overflow-hidden" >
    <img src="/homeSection/1-removebg-preview (1).png" alt="" srcset="" class="lg:w-96 sm:w-72 sm1:w-52 w-40 absolute md:bottom-10 sm1:-bottom-9 bottom-2 md1:left-10 -left-10 " >
    <div class="space-y-3" >
        <h1 class="text-[#ABD7FF] md:text-7xl sm:text-5xl text-3xl font-bold  text-center" >CodeWave Hub</h1>
        <p class="text-[#86C2F8]  sm:text-2xl text-lg text-center " >Where Innovation meets colaboration 🚀</p>
    </div>
    
    <img src="/homeSection/2-removebg-preview (1).svg" alt="" srcset="" class="lg:w-96 sm:w-72 sm1:w-52 w-40 absolute sm1:top-10 top-2 md1:right-10 -right-10" >
   
</div>

<style>
    div{
        background-color: #203162;
    }

    @media (max-height: 500px) {
  .sectio1 {
    height: 500px;
  }
}
</style>