<div class="py-20 md:px-20 sm:px-10 px-5 text-center text-[#203162] snap-start" >
    <div class="space-y-10" >
        <img src="/homeSection/4-removebg-preview (1).png" alt="" srcset="" class="w-fit mx-auto lg:w-96 sm:w-72 sm1:w-52 w-40" >
        <p  class="md:text-7xl sm:text-5xl text-3xl font-bold " >Vision & Goal</p>

        <div class="space-y-10  md:text-4xl sm:text-2xl text-lg " >
            <p>Our vision is to create a community where anyone can learn new skills, build cool stuff, collaborate on projects, and participate in competitions and hackathons.</p>
            <p>Our goal is to create an Inclusive environment where members feel welcomed and to foster a culture of innovation, creativity, and excellence among our members and beyond.</p>
        </div>
    </div>
   
</div>

<style>
    div{
        background-color: #F8F6F1;
    }
</style>