<div class="p-20 text-center text-[#203162] snap-start" >
    <div class="space-y-10" >
        <p  class="text-7xl font-bold " >Vision & Goal</p>

        <div class="space-y-10   text-4xl " >
            <p>Our vision is to create a community where anyone can learn new skills, build cool stuff, collaborate on projects, and participate in competitions and hackathons.</p>
            <p>Our goal is to create an Inclusive environment where members feel welcomed and to foster a culture of innovation, creativity, and excellence among our members and beyond.</p>
        </div>
    </div>
   
</div>

<style>
    div{
        background-color: #F8F6F1;
    }
</style>