<div class=" py-36 md:px-20 sm:px-10 px-5  snap-start " >
<div class="space-y-10" >
    <p class="md:text-7xl sm:text-5xl text-3xl font-bold" >What is CodeWave Hub?</p>
    <div class="md:text-4xl sm:text-2xl text-lg 
     space-y-10" >
        <p>CodeWave Hub is an open-source community for students. It was founded by Afnan Abdul Vasay and Mohammed Izhan Ali with the vision to nurture student's interest in technology. It operates as a hobby and interest club, a platform where students can participate and contribute according to their passion.</p>
        <p>This collaborative community brings together students who share similar technological interests, allowing them to work collectively on projects. Moreover, the community facilitates mentorship from experienced professionals, providing valuable guidance and insight.</p>
    </div>
</div>
</div>

<style>
    div{
        background-color: #86C2F8;
        color: #203162;
    }
</style>
