---
import Card from './WhyCard.astro'
---


<div class="bg-[#F8F6F1] text-center p-20 space-y-16 snap-start ">
    <div>
        <div class="space-y-5 text-[#203162]">
            <p class="text-7xl font-bold ">Why Join us?</p>

            <div class=" text-4xl ">
                <p>Get training and support from Experts.</p>
            </div>
        </div>
    </div>


    <div class="grid grid-cols-5 gap-10 ">
<Card p1='Grow' p2='Get Exclusive access to CodeWave Meetups, Conferences, & Speaking opportunity' />
<Card  p1='Connect' p2='Interact and collaborate with other students. ' />
<Card  p1='Swags' p2='chance to win exclusive merchandise and swag items' />
<Card  p1='Certificates' p2='Receive Certificates as a token of appreciation for active participation in the community.' />
<Card  p1='Mentorship' p2='Get Exclusive access to Mentorship from the Expert.' />
</div>
    </div>
    <div class="bg-[#203162] py-32 w-full -mt-48" ></div>
</div>